.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 100px;
    position: relative;
    
}
.cart-container{
    padding-left: 20px;
    background-color: #ffe7c3;
    
}
.cart-container h4{
    color: #1C2B35;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.cart-container p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
}

.clear-cart{
    width: 232px;
    height: 48px;
    border-radius: 4px;
    background: #FF3030;
    color: #fff;
    font-size: 18px;
    font-family: lato;
    border: none;
    flex-shrink: 0;
}
.checkout{
    width: 232px;
    height: 48px;
    border-radius: 4px;
    background: #F90;
    color: #fff;
    font-size: 18px;
    font-family: lato;
    border: none;
    flex-shrink: 0;
    margin-top: 10px;
}