.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 100px;
    
}
.cart-container{
    
    background-color: #2a1010;
    
}